.col-md-6.col-md-offset-3
    .row
        .panel.panel-default
            .panel-heading
                %h1 New Pin
                = render 'form'
            .panel-body
                = link_to "Back", root_path
